
#form {
    display: block;
	justify-content: space-around;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.form {
    display: block;
	justify-content: space-around;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.tab {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}